# Environment
.env

# Go build/test outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work

# IDE/editor state
.idea/
*.iml
*.iws

# Build output
dist/
out/

dist-lab
*.deb
*.pkg.tar.zst
*.rpm
*.apk
checksums.txt